{% extends 'base.html.twig' %}

{% block title %}Eleve index{% endblock %}

{% block body %}
<style>
div{
  margin-left: 20px;
}
</Style>
<div>
    <h1>Liste des élèves</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>NumRue</th>
                <th>Rue</th>
                <th>Cpos</th>
                <th>Ville</th>
                <th>Tel</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eleve in eleves %}
            <tr>
                <td>{{ eleve.id }}</td>
                <td>{{ eleve.nom }}</td>
                <td>{{ eleve.prenom }}</td>
                <td>{{ eleve.numRue }}</td>
                <td>{{ eleve.rue }}</td>
                <td>{{ eleve.cpos }}</td>
                <td>{{ eleve.ville }}</td>
                <td>{{ eleve.tel }}</td>
                <td>{{ eleve.mail }}</td>
                <td>
                    <a href="{{ path('app_eleve_show', {'id': eleve.id}) }}">Afficher</a>
                     | 
                    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun élève trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_eleve_new') }}">Ajouter un nouvel élève</a>
</div>
{% endblock %}
