{% extends 'base.html.twig' %}

{% block title %}Eleve{% endblock %}

{% block body %}
    <h1>Eleve</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ eleve.prenom }}</td>
            </tr>
            <tr>
                <th>NumRue</th>
                <td>{{ eleve.numRue }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ eleve.rue }}</td>
            </tr>
            <tr>
                <th>Cpos</th>
                <td>{{ eleve.cpos }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ eleve.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ eleve.tel }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ eleve.mail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eleve_index') }}">Retourner à la liste</a>

    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}">Modifier</a>

    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
