{{ form_start(form) }} 
    {{ form_widget(form) }}

    <button class="btn btn-primary custom-btn-lg">
        {{ button_label|default('Sauvegarder') }}
    </button>
    <a href="{{ path('app_intervention_index') }}"
   class="btn btn-secondary custom-btn-lg"
   style="margin-left: 10px;">
    Annuler
    </a>

{{ form_end(form) }}
