{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
<style>
.custom-btn-lg {
    background: linear-gradient(135deg, #0d6efd, #084298);
    padding: 14px 28px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 12px;
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border: none;
}

.custom-btn-lg:hover {
    background: linear-gradient(135deg, #0d6efd, #084298);
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.20);
}

</style>
    <center><h1>Lister les interventions</h1></center>
    <a href="{{ path('app_intervention_new') }}" class="btn btn-primary custom-btn-lg">
    Créer une nouvelle intervention
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Descriptif</th>
                <th>Prix</th>
                <th>Quotite</th>
                <th>Professionnel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.dateDebut ? intervention.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.dateFin ? intervention.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.descriptif }}</td>
                <td>{{ intervention.prix }}</td>
                <td>{{ intervention.quotite }}</td>
                <td>{{ intervention.professionnel }}</td>


                <td>
                    <a href="{{ path('app_intervention_show', {'id': intervention.id}) }}">Afficher</a>
                     | 
                    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune intervention trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
