{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <center><h1>Lister les interventions</h1></center>
    <button class="btn btn-secondary btn-lg active" role="button" ><a href="{{ path('app_intervention_new') }}">crée une nouvelle intervention </a></button>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Descriptif</th>
                <th>Prix</th>
                <th>Quotite</th>
                <th>Professionnel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.dateDebut ? intervention.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.dateFin ? intervention.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.descriptif }}</td>
                <td>{{ intervention.prix }}</td>
                <td>{{ intervention.quotite }}</td>
                <td>{{ intervention.professionnel }}</td>


                <td>
                    <a href="{{ path('app_intervention_show', {'id': Afficher.id}) }}">show</a>
                    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intervention_new') }}">Crée une nouvelle intervention</a>
{% endblock %}
