{% extends 'base.html.twig' %}

{% block title %}Compte index{% endblock %}

{% block body %}

    <h2>Vos Cours</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Libelle</th>
            <th>Âge mini</th>
            <th>Âge maxi</th>
            <th>Places</th>
            <th>Début</th>
            <th>Fin</th>
        </tr>
    </thead>

    <tbody>
    {% if cours is not empty %}
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.libelle }}</td>
                <td>{{ cour.ageMini }}</td>
                <td>{{ cour.ageMaxi }}</td>
                <td>{{ cour.nbPlaces }}</td>
                <td>{{ cour.heureDebut|date('H:i') }}</td>
                <td>{{ cour.heureFin|date('H:i') }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="7">Vous n’êtes inscrit à aucun cours</td>
        </tr>
    {% endif %}
    </tbody>
</table>


{% endblock %}

