{% extends 'base.html.twig' %}

{% block title %}Professionnel index{% endblock %}

{% block body %}
    <h1>Liste des professionnels</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>NumRue</th>
                <th>Rue</th>
                <th>Cpos</th>
                <th>Ville</th>
                <th>Tel</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for professionnel in professionnels %}
            <tr>
                <td>{{ professionnel.id }}</td>
                <td>{{ professionnel.nom }}</td>
                <td>{{ professionnel.numRue }}</td>
                <td>{{ professionnel.rue }}</td>
                <td>{{ professionnel.cpos }}</td>
                <td>{{ professionnel.ville }}</td>
                <td>{{ professionnel.tel }}</td>
                <td>{{ professionnel.mail }}</td>
                <td>
                    <a href="{{ path('app_professionnel_show', {'id': professionnel.id}) }}">Afficher</a>
                     | 
                    <a href="{{ path('app_professionnel_edit', {'id': professionnel.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun professionnel trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_professionnel_new') }}">Ajouter un nouveau professionnel</a>
{% endblock %}
