{% extends 'base.html.twig' %}

{% block title %}Professeur index{% endblock %}

{% block body %}
    <h1>Liste des professeurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>NumRue</th>
                <th>Rue</th>
                <th>Cpos</th>
                <th>Ville</th>
                <th>Tel</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for professeur in professeurs %}
            <tr>
                <td>{{ professeur.id }}</td>
                <td>{{ professeur.nom }}</td>
                <td>{{ professeur.prenom }}</td>
                <td>{{ professeur.numRue }}</td>
                <td>{{ professeur.rue }}</td>
                <td>{{ professeur.cpos }}</td>
                <td>{{ professeur.ville }}</td>
                <td>{{ professeur.tel }}</td>
                <td>{{ professeur.mail }}</td>
                <td>
                    <a href="{{ path('app_professeur_show', {'id': professeur.id}) }}">Afficher</a>
                     | 
                    <a href="{{ path('app_professeur_edit', {'id': professeur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun professeur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_professeur_new') }}">Ajouter un nouveau professeur</a>
{% endblock %}
