{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Liste des cours</h1>
<h5>Aucun cour ne vous convient prenez un cour particulier.</h5>
    <a href="http://localhost/emusic/public/rerserverCour">Reserver</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>AgeMini</th>
                <th>AgeMaxi</th>
                <th>NbPlaces</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if cours is not empty %}
            {% for cour in cours %}
              <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.libelle }}</td>
                <td>{{ cour.ageMini }}</td>
                <td>{{ cour.ageMaxi }}</td>
                <td>{{ cour.nbPlaces }}</td>
                <td>{{ cour.heureDebut ? cour.heureDebut|date('H:i') : '' }}</td>
                <td>{{ cour.heureFin ? cour.heureFin|date('H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_accueil_show', {'id': cour.id}) }}">Afficher</a>
                    <a href="{{ path('app_accueil_edit', {'id': cour.id}) }}">Modifier</a>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="8">Aucun cours pour cet instrument</td>
            </tr>
          {% endif %}
        </tbody>
    </table>
    <a href="{{ path('app_cours_new') }}">Crée nouveaux cours</a>
{% endblock %}
